<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucarinc.umeng.dao.EventProbabilityInfoMapper">



    <resultMap type="com.ucarinc.umeng.entity.EventProbabilityInfo" id="EventProbabilityInfo">

        <!--        <id column="id" property="id" jdbcType="VARCHAR"/>-->
        <result column="date" property="date" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="probabilit" property="probabilit" jdbcType="VARCHAR"/>

    </resultMap>



    <insert id="insertProbabilityInfo" parameterType="java.util.List">
        insert into event_probability_info (date ,count, name ,probabilit)
        values
        <foreach collection="probabilityInfos" item="event" separator=",">
            (#{event.date,jdbcType=VARCHAR}, #{event.count,jdbcType=INTEGER}, #{event.name,jdbcType=VARCHAR}, #{event.probabilit,jdbcType=VARCHAR}
            )
        </foreach>


    </insert>

    <select id="selectByNameAndDate" resultMap="EventProbabilityInfo" parameterType="java.lang.String">
        select *
        from event_probability_info
        where name = #{name} and date &gt;= #{startDate} and date &lt;= #{endDate}

    </select>

</mapper>